# Veri dosyaları (GitHub'a yüklenmez, büyük oldukları için)
data/raw/
data/processed/
*.sav
*.csv
*.xlsx

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Jupyter
.jupyter/

# Mac sistem dosyaları
.DS_Store

# IDE ayarları
.vscode/
.idea/

# Sanal ortamlar
venv/
env/
